.label-style {
    color: #fff;
}

.div-box {
    border-right-style: solid;
    border-right-color: #CCCECF;
}

.link-pad {
    padding-left: 10px;
}

.custom-group {
    padding-left: 1em;
}